*#
*.DS_Store
*.egg
*.egg-info
*.egg-info/
*.iml
*.log
*.pyc
*.sass-cache
*.sqlite
*build/
*dat
*npy
*pyc
*~
.cache/
.imdone/
.coverage
.idea/
.ipynb_checkpoints
.ruby-version
.tox
.pytest_cache/
.ropeproject/
build/
build/lib/
dist/
docs/_build
mongodb/
node_modules/
config.yml
npm-debug.log
profile.*
scala/
tmp/
tokens.dat
graph.png
debug.md
